# Adjust the network interface as needed
network_interface: en0

# change this to your public key
ssh_key:
  - ssh-rsa AAAAB3...

# Define your cluster VMs
vms:
  - name: k8s-master-01
    cpus: 4
    memory: 4G
    disk: 20G

  - name: k8s-worker-01
    cpus: 2
    memory: 2G
    disk: 15G
